<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
    <link href="~/Content/site.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="~/Content/app/js/scripts.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    <div>
        <h2>Pick a date range:</h2>
        <form action='@Url.Action("GetOrders","Home")' method="post">
        <label for="from">From</label>
        <input type="text" id="from" name="startDate" placeholder="Eg: 01/01/05">
        <label for="to">To</label>
        <input type="text" id="to" name="endDate" placeholder="Eg: 01/01/06">
        <input type='submit' value='Set Range' class="btn btn-success" />
        </form>
    </div>
<br/>
<br/>

   
    <div>
        @RenderBody()
    </div>
</body>
 <script>
  $( function() {
    var dateFormat = "mm/dd/yy",
      from = $( "#from" )
        .datepicker({
          defaultDate:  new Date(2004, 01, 01),
          changeMonth: true,
          numberOfMonths: 3
        })
        .on( "change", function() {
          to.datepicker( "option", "minDate", getDate( this ) );
        }),
      to = $( "#to" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        from.datepicker( "option", "maxDate", getDate( this ) );
      });
 
    function getDate( element ) {
      var date;
      try {
        date = $.datepicker.parseDate( dateFormat, element.value );
      } catch( error ) {
        date = null;
      }
 
      return date;
    }
  } );
  </script>
</html>
 

